  {{#each this}}
  <li class="list-group-item"><input type="checkbox" id="task">
    {{content}}
    {{!-- <span id="userspan" style="display: none;">{{user_id}}</span> --}}
    <span id="idspan" style="display: none;">{{id}}</span>
  </li>
  {{/each}}