<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Virtual Office Coordinator</title>

</head>

<body>

    <!-- Navigation-->
    <header>
        <h1>
            <a href="/"><img src="./assets/images/logo.png" style="width: 380px;height:100px; padding: 7px 55px;"></a>
        </h1>

        <nav>
            <ul>

                <li>
                    <a href="#contact-us">Contact Us</a>
                </li>
                {{#if loggedIn}}
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <button class="btn" id="logout" type="button">Logout</button>
                </li>
                {{else}}
                <li>
                    <a href="/login">Login</a>
                </li>
                {{/if}}
                <li>
                    <a href="#request-demo">Request Demo</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer>
        <h2> &copy; 2020 Virtual Office Coordinator, Inc</h2>
    </footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html