<section class="login-bg">
    <form class="login-form">
        {{!-- <form class="login-form" onsubmit="loginFormHandler()"> --}}

        <div id="user-login-fields">
            <div>
                <label for="user-login">Enter Username:</label>
                <input type="text" placeholder="Username" id="user-login" />
            </div>
            <div>
                <label for="password-login">Enter Password:</label>
                <input type="password" placeholder="Password" id="password-login" />
            </div>
            <div>
                <button type="submit">Log in</button>
            </div>
            <div>
                <button class="newUser" type="button">New User</button>
            </div>
        </div>            
    </form>
</section>



{{#if notFound}}
<p class='error'>Username or password is not found</p>
{{/if}}

<script src="/javascript/login.js"></script>