<form class="login-form">
    {{!-- <form class="login-form" onsubmit="loginFormHandler()"> --}}

    <div id="user-login-fields">
        <label for="user-login">username:</label>
        <input type="text" id="user-login" />
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">login</button>
    </div>

</form>

    <div>
        <button class="newUser" type="submit">new user</button>
    </div>

{{#if notFound}}
    <p class='error'>Username or password is not found</p>
{{/if}}

<script src="/javascript/login.js"></script>