{{#if loggedIn}}
    <div class="wrapper">
        <p>
            {{messages.sender_id}} : {{messages.content}}
        </p>
    </div>

        {{#if messages.responses.length}}
            {{#each messages.responses as |content|}}
                {{> response content}}
            {{/each}}
        {{/if}}
{{/if}}



<label for="enter-message">Enter your message:</label>
<textarea name="message-body" id='text-body'></textarea>
<button type="submit" id='response-btn'>Send message</button>

<script src="/javascript/message-details.js"></script>