<section class="newuser-bg">
    <form class="newuser-login">
        <div id="newUser-login-fields">
            <label for="user-first">First&nbsp;name:</label>
            <input type="text" id="user-first" />
        </div>
        <div>
            <label for="user-last">Last&nbsp;name:</label>
            <input type="text" id="user-last" />
        </div>
        <div>
            <label for="user-phone">Phone:</label>
            <input type="tel" id="user-phone" name="phone" placeholder="999-999-9999" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
        </div>
        <div>
            <label for="user-email">Email:</label>
            <input type="email" id="user-email" />
        </div>
        <div>
            <label for="user-title">Title:</label>
            <input type="text" id="user-title" />
        </div>
        <div>
            <label for="user-login">username:</label>
            <input type="text" id="user-login" />
        </div>
        <div>
            <label for="password-login">password:</label>
            <input type="password" id="password-login" />
        </div>

        <div>
            <button type="submit">Add&nbsp;user</button>
        </div>
    
    </form>
</section>

<script src="/javascript/newuser.js"></script>