* {
    box-sizing: border-box;
  }

  :root {
    --primary: #646c79;
    --secondary: #fb9039;
    --tertiary: #1f3044;
    --quaternary: #ffffff;
  }

  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }

  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    background-color:#acb3be;
    flex-direction: column;
  }
  
  header {
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header h1 {
    font-size: 36px;
  }

  .login-form {
    display: block-inline;
    clear: left;
    width: 250px;
    font-size: 24px;
    padding: 15% 45%;
    margin: 10px;
  }

  .login-form button {
    font-size: 20px;
    margin: 15px 0;
    width: 100px;
    text-align: center;
  }

  .login-form button:hover {
    background-color: var(--secondary);
  }

  .newuser-login {
    display: block-inline;
    clear: left;
    width: 300px;
    font-size: 20px;
    padding: 5% 35%;
    margin: 15px 0;
  }

  .newUser-login button {
    font-size: 20px;
    margin: 15px 0;
    width: 300px;
    text-align: center;
  }

  .newUser-login button:hover {
    background-color: var(--secondary);
  }


  .new-user {
    font-size: 20px;
    margin: 15px 0;
    background-color: var(--tertiary);
    color: var(--quaternary);
    width: 100px;
    text-align: center;
  }

  .new-user:hover {
    background-color: var(--quaternary);
  }

  #user-login-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #newUser-login-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logout {
    color: var(--secondary);
    background-color: var(--primary);
    justify-content: space-between;
    text-decoration: none;
    display: inline;
    font-size: 20px;
  }

  nav a {
    color: var(--secondary);
    background-color: var(--primary);
    margin-left: auto;
    text-decoration: none;
    display: flex;
    font-size: 20px;
  }

  .logout:hover {
    color: var(--tertiary);
  }


  .task-list, .message-list {
    margin: 5px;
  }

  .list-group input {
    margin: 5px;
  }
  .message-list li:hover {
    background-color: #fb9039;
  }

  #calendar-body td:hover {
    background-color: #fb9039;
  }

  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    margin-top: auto;
  }