* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #0085FF;
  --secundary-color: white;
  --tertiary-color: #99E265;
  --quaternary-color: #FFBD4A;
  --quinary-color: #FF5C5C;
  --senary-color: #2EB2FF;
}

body {
  color: var(--primary-color);
  background-color: var(--secundary-color);
}

  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    background-color:#acb3be;
    flex-direction: column;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: black;
}

header a {
  text-decoration: none;
}

header nav {
  margin: 45px 50px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55w;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: var(--secundary-color);
}

header nav ul li a:hover {
  background: var(--secundary-color);
  color: var(--primary-color);
  border-radius: 15px;
  text-shadow: none;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--secundary-color);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.video-content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 35%;
  margin: 0% 3.5%;
  padding: 25px 78px;
  font-size: x-large;
}

  .login-form {
    display: block-inline;
    clear: left;
    width: 250px;
    font-size: 24px;
    padding: 15% 35%;
    margin: 10px;
  }

  .login-form button {
    font-size: 20px;
    margin: 15px 0;
    width: 100px;
    text-align: center;
  }

  .login-form button:hover {
    background-color: var(--secondary);
  }

  .newuser-login {
    display: block-inline;
    clear: left;
    width: 300px;
    font-size: 20px;
    padding: 5% 35%;
    margin: 15px 0;
  }

  .newUser-login button {
    font-size: 20px;
    margin: 15px 0;
    width: 300px;
    text-align: center;
  }

  .newUser-login button:hover {
    background-color: var(--secondary);
  }


  .new-user {
    font-size: 20px;
    margin: 15px 0;
    background-color: var(--tertiary);
    color: var(--quaternary);
    width: 100px;
    text-align: center;
  }

  .new-user:hover {
    background-color: var(--quaternary);
  }

  #user-login-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #newUser-login-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logout {
    color: var(--secondary);
    background-color: var(--primary);
    justify-content: space-between;
    text-decoration: none;
    display: inline;
    font-size: 20px;
  }

  nav a {
    color: var(--secondary);
    background-color: var(--primary);
    position: relative;
    text-decoration: none;
    right: 15%;
    top: 20px;
    font-size: 20px;
  }

  nav ul li {
    padding: 0 1rem;
  }

  .logout:hover {
    color: var(--tertiary);
  }


  .task-list, .message-list {
    margin: 5px;
  }

  .list-group input {
    margin: 5px;
  }
  .message-list li:hover {
    background-color: #fb9039;
  }

  #calendar-body td:hover {
    background-color: #fb9039;
  }


.contact-title {
    font-size: 48px;
    border-bottom: 3px solid;
    padding: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.contact-info iframe {
    height: 400px;
}

.contact-info h3, .contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.flex-row {
    display: flex;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer {
    background: black;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin: 0;
    color: white;
}
